@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply
  min-h-screen
  bg-[#f9f8ff]
}

.content-container {
  @apply
  mx-auto
  max-w-[1212px]
  px-3
}

.nav {
  @apply
  py-5
  sm:py-10
}

.nav .content-container {
  @apply
  flex
  justify-between
  items-center
}

.nav-main-link {
  @apply
  font-semibold
  text-2xl
  tracking-[.02em]
  text-black
}

.nav-main-link span {
  @apply
  text-primary
}

.nav-link-wrapper {
  @apply
  h-max
  hidden
  sm:flex
  items-center
  gap-x-10
  text-sm
  tracking-[.02em]
  text-black
}

.header-content-wrapper {
  @apply
  py-2.5
}

.header-content-wrapper .content-container {
  @apply
  flex
  flex-col
  md:flex-row
}

.left-hero-content {
  @apply
  w-full
  md:max-w-[369px]
  xl:max-w-[579px]
  h-max
  py-8
  sm:py-[50px]
  space-y-6
  text-center
  md:text-left
  order-2
  md:order-1
}

.left-hero-content h1 {
  @apply
  text-5xl
  xl:text-[54px]
  font-bold
  leading-[64px]
  xl:leading-[70px]
  tracking-[.02em]
  text-black
}

.left-hero-content p {
  @apply
  text-sm
  tracking-[.02em]
  text-grey
}

.left-hero-content a {
  @apply
  mx-auto
  md:mx-0
  w-[134px]
  h-[52px]
  bg-primary
  rounded-lg
  flex
  justify-center
  items-center
  font-semibold
  text-sm
  tracking-[.02em]
  text-white
}

.right-hero-content {
  @apply
  relative
  w-full
  md:h-[572px]
  justify-center
  md:justify-end
  order-1
  md:order-2
}

.component-wrapper {
  @apply
  md:absolute
  max-md:left-0
  right-0
  w-full
  md:min-w-[699px]
  max-w-[699px]
  h-[600px]
  sm:h-full
  flex
  justify-end
}

.component-wrapper .border-image {
  @apply
  relative
  w-full
  max-w-[572px]
  h-max
  overflow-hidden
}

.component-wrapper .circle {
  @apply
  w-full
  h-full
}

.component-wrapper .hero-image {
  @apply
  absolute
  left-[31px]
  sm:left-[41px]
  top-[31px]
  sm:top-[41px]
  right-10
  bottom-10
  w-[calc(100%-61px)]
  sm:w-[calc(100%-81px)]
}

.task-progress {
  @apply
  absolute
  left-0
  bottom-0
  sm:bottom-[123px]
  w-full
  sm:w-56
  max-w-64
  bg-white
  rounded-lg
  shadow-[0_24px_34px_0_rgba(199,201,217,.25)]
  p-7
  space-y-[22px]
}

.task-progress .title {
  @apply
  text-sm
  leading-[21px]
  tracking-[.02em]
}

.progress-skills-wrapper {
  @apply
  space-y-[5px]
}

.progress-skills-wrapper h1 {
  @apply
  text-xs
  tracking-[.3px]
  text-black
}

.bar-wrapper {
  @apply
  h-[3px]
  rounded-full
}

.bar-wrapper-1 {
  @apply
  bg-[#5448a11a]
}

.bar-wrapper-2 {
  @apply
  bg-[#a154481a]
}

.bar-wrapper-3 {
  @apply
  bg-[#48a1541a]
}

.bar {
  @apply
  h-full
  rounded-full
}

.bar-1 {
  @apply
  w-4/5
  bg-[#7868e6]
}

.bar-2 {
  @apply
  w-4/5
  bg-[#e67868]
}

.bar-3 {
  @apply
  w-1/2
  bg-[#68e678]
}

.teks-message {
  @apply
  absolute
  top-[15px]
  right-[18px]
  w-[174px]
}

.teks-message .rectangle {
  @apply
  bg-white
  rounded-lg
  shadow-[0_24px_34px_0_rgba(199,201,217,.2)]
  px-4
  py-6
}

.rectangle p {
  @apply
  text-[13px]
  leading-[18px]
  tracking-[0.02px]
  text-black
}

.teks-message .triangle {
  @apply
  ml-[18px]
  -mt-px
  w-[54px]
  h-[29px]
}

.specialities-section {
  @apply
  mt-[38px]
  py-7
  sm:py-28
}

.title-description-wrapper {
  @apply
  text-center
}

.title-description-wrapper h1 {
  @apply
  font-bold
  text-[32px]
  leading-10
  tracking-[.02em]
  text-black
}

.title-description-wrapper p {
  @apply
  mt-2.5
  text-sm
  tracking-[.02em]
  text-grey
}

.card-wrapper {
  @apply
  mt-[60px]
  grid
  grid-cols-1
  sm:grid-cols-2
  md:grid-cols-3
  gap-x-9
  lg:gap-x-24
  gap-y-5
  sm:gap-y-9
}

.card-wrapper .color-line {
  @apply
  h-[3px]
  bg-primary
}

.card-wrapper .card-specialities {
  @apply
  mt-0.5
  bg-white
  shadow-[0_24px_34px_0_rgba(199,201,217,.25)]
  pl-10
  pt-[50px]
  pb-[47px]
}

.card-wrapper .card-specialities.card-frontend {
  @apply
  pr-[22px]
}

.card-wrapper .card-specialities.card-ui-ux {
  @apply
  pr-[27px]
}

.card-wrapper .card-specialities.card-product-thinking {
  @apply
  pr-[23px]
}

.card-wrapper .card-specialities svg {
  @apply
  w-10
  h-10
}

.card-wrapper .card-specialities h1 {
  @apply
  mt-6
  font-bold
  text-2xl
  tracking-[.03em]
  text-black
}

.card-wrapper .card-specialities p {
  @apply
  mt-3
  text-sm
  leading-[22px]
  tracking-[.03em]
  text-grey
}

.portfolio-section {
  @apply
  mt-[38px]
  py-7
  sm:py-28
}

.image-portfolio-wrapper .row-1 {
  @apply
  mt-[60px]
  grid
  grid-cols-1
  sm:grid-cols-2
  gap-x-[30px]
  gap-y-[60px]
}

.image-portfolio-wrapper .row-1 .card .portfolio-image {
  @apply
  w-full
}

.image-portfolio-wrapper .row-1 .card h1 {
  @apply
  mt-5
  font-bold
  text-xl
  lg:text-[28px]
  leading-9
  tracking-[.03em]
  text-black
}

.image-portfolio-wrapper .row-1 .card span {
  @apply
  mt-2.5
  block
  text-sm
  tracking-[.03em]
  text-grey
}

.image-portfolio-wrapper .row-2 {
  @apply
  mt-[60px]
  grid
  grid-cols-1
  sm:grid-cols-2
  lg:grid-cols-3
  gap-x-[30px]
  gap-y-[60px]
}

.image-portfolio-wrapper .row-2 .portfolio-image {
  @apply
  w-full
  lg:h-full
  lg:max-h-[284px]
  object-cover
}

.image-portfolio-wrapper .row-2 h1 {
  @apply
  mt-5
  font-bold
  text-xl
  leading-9
  tracking-[.03em]
  text-black
}

.image-portfolio-wrapper .row-2 span {
  @apply
  mt-2.5
  block
  text-sm
  tracking-[.03em]
  text-grey
}

.footer {
  @apply
  py-7
  sm:pt-2
  sm:pb-[59px]
}

.footer .content-container {
  @apply
  flex
  flex-col
  sm:flex-row
  justify-between
  items-center
  gap-y-6
}

.footer .main-link {
  @apply
  w-full
  sm:w-max
  font-semibold
  text-2xl
  tracking-[.02em]
  text-black
  text-center
}

.footer .link-wrapper {
  @apply
  w-full
  sm:w-max
  flex
  flex-col
  sm:flex-row
  justify-center
  items-center
  gap-x-10
  gap-y-6
  text-black
}

.footer .link-wrapper a {
  @apply
  w-full
  sm:w-max
  text-center
}

.footer .link-wrapper .button-hire {
  @apply
  sm:w-[94px]
  h-11
  bg-primary
  rounded-lg
  flex
  justify-center
  items-center
  font-medium
  text-sm
  tracking-[.02em]
  text-white
}
